@{
    ViewData["Title"] = "Admin Panel";
}

<h1>Admin Panel</h1>

<p>Admin Panel</p>

<ul>
    <li><a asp-action="CatalogsIndex">Manage Catalogs</a></li>
    <li><a asp-action="CategoriesIndex">Manage Categories</a></li>
    <li><a asp-action="OrdersIndex">Manage Orders</a></li>
    <li><a asp-action="PosOrdersIndex">Manage PosOrders</a></li>
    <li><a asp-action="RolesIndex">Manage Roles</a></li>
    <li><a asp-action="UsersIndex">Manage Users</a></li>
</ul>
