@{
    ViewData["Title"] = "Тут нет избранного";
}
<h1>@ViewData["Title"]</h1>

<p>Но избранное </p>

<div class="card" style="width: 18rem;">
    <img src="~/img/62dd4e4c-2c91-533d-ad2d-52bdaad7fec7.png" style="width: 250px; height=250px;" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>