@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center">

   

    <h1 class="display-4">Книжный магазин</h1>
    <p>Смотреть больше <a href="https://www.interpol.int/How-we-work/Notices/Red-Notices/View-Red-Notices">Сделано на шарпах кек</a>.</p>
</div>
